# Ignore all Terraform state and local files in subdirectories
**/*.tfstate
**/*.tfstate.backup
**/.terraform/
**/.terraform/*
**/.terraform.lock.hcl
**/keys
**/ansible-venv
**/.tfvars

# Sensitive
*.pem
*.key

# Archives
*.zip
*.tar.gz
*.tgzvault.pass
